@import "../../vendor/fonts/roboto/roboto.css";
@import "../../vendor/fonts/roboto slab/robotoslab.css";
@import "../../vendor/fonts/sans serif pro/sourcesanspro.css";

.page {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #1A1B22;
}

.noscroll {
  overflow: hidden;
}
